@font-face 
{
    font-family: 'OpenSans-semibold';
    src: url('../fonts/OpenSans-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'OpenSans-bold';
    src: url('../fonts/OpenSans-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: 'OpenSans-regular';
    src: url('../fonts/OpenSans-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/OpenSans-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/OpenSans-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/OpenSans-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/OpenSans-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
       font-weight: normal;
       font-style: normal;
}
body{
    
    font-family: 'OpenSans-regular';
}
.User-name
{
    font-family: 'OpenSans-semibold';
    font-size: 14px;
}
.CodeGen-Container
{
    margin-top: 94px;
}
.header
{
    font-family: 'OpenSans-bold';
    font-size: 20px;
}
.filter-icon
{
    width: 62px;
    
}
.nav-color
{
    background-color: #023047;
}
.search-bar
{
    width: 264px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
}
.Master-button
{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 46px;
    padding-right: 28px;
    position:relative;
    background-color: #FFCD50;
    border: none!important;
    color: #023047;
    font-family: 'OpenSans-semibold';   
}
.Master-button:hover
{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 46px;
    padding-right: 28px;
    position:relative;
    background-color: #FFCD50;
    border: none!important;
    color: #023047;
    font-family: 'OpenSans-semibold';   
}
.plus-icon
{
    position:absolute;
  left: 22px;
  top:16px;
  
}
.border-class
{
    border-style: none!important;
    font-family: 'OpenSans-bold'!important;
}
.spacing
{
    padding-top: 17px!important;
    padding-bottom: 17px!important;
    font-family: 'OpenSans-semibold';
    font-size: 15px;
}
.dot-draft {
    height: 12px;
    width: 12px;
    background-color:#FCBF49;
    border-radius: 50%;
    display: inline-block;
  }
.dot-done
{
    height: 12px;
    width: 12px;
    background-color:#2A6E2C;
    border-radius: 50%;
    display: inline-block; 
}
.icon-spacing
{
    padding-bottom: 2px!important;
}
.header-bg
{
    background-color: #F9F9FB!important;
}






.header-form
{
    font-family: 'OpenSans-bold';
    font-size: 20px;
}
.form-header
{
    font-family: 'OpenSans-bold';
    font-size: 20px;
}
.code-form
{
    padding-left: 60px;
    margin-top: 40px;
}
.row-one
{
    padding-left: 60px;
}
.Code-label
{
    font-family: 'OpenSans-semibold';
    font-size: 15px;
    padding-bottom: 8px;
}
.mandatory-label:after {
    content: "*";
    color: #C21919;
}
.code-input
{
    padding : 10px;
}
.check-content
{
    width: 100%;
}
.file-upload
{
    position: absolute;
}

.gen-code
{
    padding-top: 12px;
    padding-bottom : 12px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #FCBF49;
    border: none!important;
    color: #023047;
    font-family: 'OpenSans-semibold';    
}
.gen-code:hover
{
    padding-top: 12px;
    padding-bottom : 12px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #FCBF49;
    border: none!important;
    color: #023047;
    font-family: 'OpenSans-semibold';    
}
.save-draft
{
    padding-top: 12px;
    padding-bottom : 12px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #023047;
    border: none!important;
    color: white;
    font-family: 'OpenSans-semibold';
}

.save-draft:hover
{
    padding-top: 12px;
    padding-bottom : 12px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #023047;
    border: none!important;
    color: white;
    font-family: 'OpenSans-semibold';
}
.cancel-butt
{
    padding-top: 12px;
    padding-bottom : 12px;
    padding-left: 24px;
    padding-right: 24px;
    font-family: 'OpenSans-semibold';
}
.info-icon
{
    margin-left: 2px;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    border-bottom: solid 4px yellow!important;
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link:hover {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    border-bottom: solid 4px #FFB703!important;
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;
    font-family:'OpenSans-bold' ;
}
.advanced-filter {
	width: 30rem;
	transform: none !important;
    right: 0px !important;
    top: 196px !important;
    left: 618px!important;
    border: none;
    box-shadow: 0px 3px 6px 0px #c9c7c7;
    border-radius: 7px;
}
.btn-primary-audit
{
    border: 0.30px solid #023047!important;
    width: 56px;
    height: 50px;
    margin-left: 16px;
    margin-right: 8px;
}
.close:focus{
	outline: none!important;
}
.filter-butt
{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    
    background-color: #FFCD50;
    border: none!important;
    color: #023047;
    font-family: 'OpenSans-semibold';
}
.clear-link
{
    text-decoration: none;
    font-family: 'OpenSans-semibold';
    color: #023047;
}
.clear-link:hover
{
    text-decoration: none;
    font-family: 'OpenSans-semibold';
    color: #023047;
}
.FIlter-title
{
    font-family: 'OpenSans-bold';
    font-size: 16px;
}
.filter-label
{
    
    font-family: 'OpenSans-semibold';
    font-size: 14px;
    padding-bottom: 5px;
}
.filter-close
{
    width: 5px!important;
}
.load-butt
{
    font-family: 'OpenSans-semibold'!important;
    font-size: 14px!important;
    padding-left: 24px!important;
    padding-right: 24px!important;
    padding-top: 12px!important;
    padding-bottom: 12px!important;
    border: 1px solid #023047!important;
    color:#023047;
}
.load-butt:hover
{
    font-family: 'OpenSans-semibold'!important;
    font-size: 14px!important;
    padding-left: 24px!important;
    padding-right: 24px!important;
    padding-top: 12px!important;
    padding-bottom: 12px!important;
    border: 1px solid #023047!important;
    color:#023047;
    background-color: #b5e1f7!important;
}
.advanced-filter-table
{
    width: 30rem;
	transform: none !important;
    right: 0px !important;
    top: 62px !important;
    left: -400px !important;
    border: none;
    box-shadow: 0px 3px 6px 0px #c9c7c7;
    border-radius: 7px;
}
.profilemenu.show
{
    left: 70px;
    top: 36px;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
     transition: none!important;
}